* {
    margin: 0;
    padding: 0;
    font-family: helvetica;
}

body {
    height: 100vh;
    background-image: url(/imagens/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover !important;
}

.container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: column;
}

a {
    margin: auto;
    width: 25%;
}

.btn {
    font-size: 18px;
    font-weight: bold;
    border: none;
    outline: none;
    text-transform: uppercase;
    padding: 18px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgb(0, 255, 191);
    color: azure;
    background-color: rgb(30, 240, 255);
}

.btn:hover {
    filter: brightness(1.3);
    transition: .5s;
    background-color: dodgerblue;
}

.btn:not(:hover) {
    transition: .3s;
}